DB_URI="mongodb://localhost:27107/AtomicShopDB"
JWT_SECRET=""

USER_EMAIL="correo@gmail.com"
USER_PASSWORD="passoword"

CLOUDINARY_CLOUD_NAME="name"
CLOUDINARY_API_KEY="key"
CLOUDINARY_API_SECRET="secret"

GRANT_TYPE=""
AUDIENCE=""
CLIENT_ID=""
CLIENT_SECRET=""